<!doctype html>
<html lang="en">
<head>
    <title>Catamarca - Tu portal de viaje para descubrir y disfrutar.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"     integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
    <header id="header">
        
        
    </header>
    <main>
        <div id="app" class="container">
            <h1>Excursiones</h1>
            <br>
            <a  class="btn btn-primary" href="excursion_nueva.html">Nuevo</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos , se produjo un error</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Duración</th>
                                    <th scope="col">Dificultad</th>
                                    <th scope="col">Cupos</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class=""  v-for="excursion in excursiones">
                                    <td scope="row">{{excursion.id}}</td>
                                    <td>{{excursion.nombre}}</td>
                                    <td>{{excursion.descripcion}}</td>
                                    <td>{{excursion.duracion}}</td>
                                    <td>{{excursion.dificultad}}</td>
                                    <td>{{excursion.cupos}}</td>
                                    <td>{{excursion.precio}}</td>
                                    <td>
                                        <img width="60"  :src="excursion.imagen" :alt="excursion.nombre">
                                    </td>
                                    <td>
                    			<a class="btn btn-primary" :href="'excursion_update.html?id='+ excursion.id" >Editar</a>
                                      <button type="button" class="btn btn-danger" v-on:click="eliminar(excursion.id)" >Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!--Link de Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./js/excursiones.js"></script>
</body>
</html>
